.container{
    width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark); 

    min-height: 50rem; 
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);


    display: flex;
    justify-content: space-between;
    align-items: center;
}

// our flex container 
.content{
    display: flex;
}

.sidebar{
    background-color: var(--color-grey-dark-1);

    // 0 >> flex grow, 0 >> flex shrink, 18% >> flex basis
    // we use basis to set width of element incase of using flex 
    flex: 0 0 18%;

    // flex item became flex container
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.hotel-view{
    background-color: #fff;

    // this to make the second element take rest of spaces
    flex: 1; 
 
}

.details{
    font-size: 1.4rem;

    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-2);
}

.description{
    font-size: inherit;
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);   
    padding: 3rem;
}

.user-reviews{
    font-size: inherit;
    // to accupied the rest of space
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center; 
}
